<component name="ArtifactManager">
  <artifact type="war" name="SpringMvcProject:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringMvcProject.war">
      <element id="artifact" artifact-name="SpringMvcProject:war exploded" />
    </root>
  </artifact>
</component>